body {
	line-height: 1.5;
	font-size: 16px;
}

h1,
h2,
h3,
h4 {
	margin: 0 0 0.5rem;
	font-weight: 600;
}

p {
	margin: 0 0 1rem;
}

code {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	font-size: 0.9em;
}
